.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
    padding: 10px;
  }
  .grid-item {
    background-color: hsla(0, 0%, 100%, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 25px;
    text-align: center;
  }

  body {
    background-color: #1fb482;
  }

  .clicked {
    background-color: rgba(173, 175, 204, 0.8);
  }

  .inside-item {
    font-size: 20px;
  }
  .currentDate {
    background-color: rgba(10, 82, 52, 0.8);
  }

  .blockDiv {
    vertical-align:top;

    padding: 0;
    margin: 0;
    
    display: inline-block;
    width: 200px;
    height: 150px;

    border: 1px solid blue;
    background-color: rgb(92, 92, 14);
  }

  button {
    width: 130px;
  }